{% extends 'base.html' %}


{% block title %} Edit Post {% endblock %}

{% block content %}
<!--edit_post comment for testing-->


<form class="create-post-form" method="POST">
  <label for="title">Title: </label>
  <input name="title" value="{{ post.title }}">
  <label for="content">Content:   </label>
  <textarea name="content">{{ post.content }}</textarea>
  <button formmethod="get" formaction="/users/{{ post.user_id }}">Cancel</button>
  <button type="submit">Add</button>
</form>
{% endblock %}