{% extends 'base.html' %}

<!-- Eventually, should be passing full user object, rather than just name..-->
{% block title %} Edit a User {% endblock %}

{% block content %}

<!-- update input values with imported user details-->
<form class="create-user-form" method="POST">
  <label for="first_name">First Name: </label>
  <input name="first_name">
  <label for="last_name">Last Name:   </label>
  <input name="last_name">
  <label for="image_url">Image URL:   </label>
  <input name="image_url">
  <button>Cancel</button>
  <button>Save</button>
</form>
{% endblock %}