{% extends 'base.html' %}

{% block title %} {{ user.get_full_name() }} {% endblock %}

{% block content %}
{% for msg in get_flashed_messages() %}
  <p style="color: green">{{ msg }}</p>
{% endfor %}

<!--user detail comment for testing-->
<img src="{{ user.image_url }}" style="width: 100px">


<form action="/users/{{ user.id }}/edit">
  <button>Edit</button>
</form>
<form action="/users/{{ user.id }}/delete" method="POST">
  <button>Delete</button>
</form>

<!-- form.action and form.method attributes, new to HTML5 -->


<div>
  <h3>Posts</h3>
  {{ user.post }}
  <ul class="post-list">
    {% for post in user.posts %}
    <a href="/posts/{{ post.id }}">
      <li>{{ post.title }}</li>
    </a>

    {% endfor %}
  </ul>

  <form action="/users/{{ user.id }}/posts/new">
    <button>Add Post</button>
  </form>
</div>

{% endblock %}